<!-- data-disabled was here -->
<div class="alert-box"> 
   <% if (typeof data.alert !== 'undefined' && data.alert) { %>
    <div data-info>
        <% Object.entries(data.alert).forEach(([key, value]) => { %>
            <p id="<%= key %>"><%= value %></p>
        <% }) %>
    </div>
   <% } %>
   <% if (typeof error_alert !== 'undefined' && error_alert) { %>
    <div data-info>
        <% Object.entries(error_alert).forEach(([key, value]) => { %>
            <p id="<%= key %>"><%= value %></p>
        <% }) %>
    </div>
   <% } %>
</div>