<!-- data-disabled was here -->
<div class="alert-box"> 
   <% if (typeof alert !== 'undefined' && alert) { %>
    <div data-info>
        <% Object.entries(alert).forEach(([key, value]) => { %>
            <p id="<%= key %>"><%= value %></p>
        <% }) %>
    </div>
   <% } %>
</div>