<!-- Common things like navbar, alert and more.. -->
<div class="page-overlay">
    <div class="loader-box">
        <div class="loader-cont">
            <img src="/images/intro/loader.jpg" alt="loader">
            <h1>loading library resources...</h1>
        </div>
    </div>
    <div class="spinner-box">
        <div class="spinner"></div>
    </div>
</div>