<header>
    <div class="search">
        <input type="text" placeholder="Search.">
        <div class="search-img">
            <img src="/images/icons/search.png" alt="icon">
        </div>
    </div>
    <div class="activities">
        <button>
            <img src="/images/icons/moon.png" alt="icon">
        </button>
        <button>
            <img src="/images/icons/bell.png" alt="icon">
        </button>
    </div>
</header>