<div class="navbar-box">
    <div class="navbar">
        <div class="nav-item">
            <div class="nav-img img-fill">
                <img src="/images/icons/logo-dark.png" alt="logo">
            </div>
        </div>
        <div class="nav-item">
            <div class="pfp">
                <div class="nav-img img-fill">
                    <img src="/images/pfp.jpg" alt="pfp">
                </div>
            </div>
        </div>
    </div>
</div>