<header>
    <div class="activities">
        <!-- <button>
            <img src="/images/icons/moon.png" alt="icon">
        </button> -->
        <button>
            <img src="/images/icons/bell.png" alt="icon">
        </button>
    </div>
</header>