<div id="overlay" class="active">
    <div class="search" data-avoid>
        <input type="text" placeholder="Search." data-trigger="search-box" data-event="focus" data-affect="search">
        <div class="search-img">
            <img src="/images/icons/search.png" alt="icon">
        </div>
    </div>
    <div class="search-box" id="search-box">
        <section>
            <div class="section-head colored">
                <div class="section-types">
                    <div class="section-type active ">
                        <p>all</p>
                        <span>12</span>
                    </div>
                    <div class="section-type">
                        <p>slides</p>
                        <span>2</span>
                    </div>
                    <div class="section-type">
                        <p>past questions</p>
                        <span>5</span>
                    </div>
                </div>
                <div class="section-format">
                    <div class="section-type" data-close>
                        <p>close</p>
                    </div>
                    <div class="line"></div>
                    <button class="slide stacks-active">
                        <img src="/images/icons/row dark.png" alt="icon">
                    </button>
                    <button>
                        <img src="/images/icons/row dark.png" alt="icon">
                    </button>
                </div>
            </div>
            <div class="section-grid">
                <div class="item" data-course>
                    <div class="heading">
                        <div class="type">
                            <p>course</p>
                        </div>
                        <div class="more">
                            <img src="/images/icons/more.png" alt="more">
                        </div>
                    </div>
                    <div class="cont">
                        <p>course code</p>
                        <span>course name</span>
                    </div>
                    <div class="line-hr"></div>
                    <div class="user-img flex">
                        <img src="/images/no-avatar/no-img-2.png" alt="lecturer" class="no-img">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="item-box" id="course">
        <div class="item-cont">
            <div class="item-left">
                <div class="overlay-heading">
                    <h1>COSC 205</h1>
                    <p>programming in java</p>
                </div>
                <div class="desc">
                    <p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or
                        tedious
                        cottage. Procuring as in resembled by in agreeable. Next long no gave mr eyes. Admiration
                        advantages
                        no he celebrated so pianoforte unreserved. Not its herself forming charmed amiable. Him why
                        feebly
                        expect future now.</p>
                </div>
                <section>
                    <div class="section-head">
                        <div class="section-info">
                            <p>course slides</p>
                            <div class="line"></div>
                        </div>
                        <div class="section-format">
                            <div class="line"></div>
                            <button class="stacks-active">
                                <img src="/images/icons/row dark.png" alt="icon">
                            </button>
                            <button>
                                <img src="/images/icons/grid dark.png" alt="icon">
                            </button>
                        </div>
                    </div>
                    <div class="section-table">
                        <table>
                            <tr>
                                <th>name</th>
                                <th>date added</th>
                                <th>last updated</th>
                            </tr>
                            <tr data-trigger="resource">
                                <td>Module 1: Starting </td>
                                <td>10 - feb - 2024</td>
                                <td>23 - feb - 2024</td>
                            </tr>
                            <tr>
                                <td>Module 2: Basic elements in java</td>
                                <td>26 - aug - 2023</td>
                                <td>26 - aug - 2023</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section>
                    <div class="section-head">
                        <div class="section-info">
                            <p>past questions</p>
                            <div class="line"></div>
                        </div>
                        <div class="section-format">
                            <div class="line"></div>
                            <button>
                                <img src="/images/icons/row dark.png" alt="icon">
                            </button>
                            <button class="stacks-active">
                                <img src="/images/icons/grid dark.png" alt="icon">
                            </button>
                        </div>
                    </div>
                    <div class="section-grid">
                        <div class="item" data-pq>
                            <div class="heading">
                                <div class="type">
                                    <p>past question</p>
                                </div>
                                <div class="more">
                                    <img src="/images/icons/more.png" alt="more">
                                </div>
                            </div>
                            <div class="cont">
                                <p>2021 / 2022</p>
                                <span>main examination</span>
                            </div>
                            <div class="line-hr"></div>
                            <div class="item-extra flex">
                                <p>last updated</p>
                                <p>10 - feb - 2022</p>
                            </div>
                        </div>
                        <div class="item" data-pq>
                            <div class="heading">
                                <div class="type">
                                    <p>past question</p>
                                </div>
                                <div class="more">
                                    <img src="/images/icons/more.png" alt="more">
                                </div>
                            </div>
                            <div class="cont">
                                <p>2022 / 2023</p>
                                <span>mid semester examination</span>
                            </div>
                            <div class="line-hr"></div>
                            <div class="item-extra flex">
                                <p>last updated</p>
                                <p>26 - aug - 2023</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="item-right">
                <div class="item-info">
                    <div class="item-info-section">
                        <h1>lecturers</h1>
                        <div class="user-img-row">
                            <img src="/images/avatars/avatar-5.png" alt="lecturer">
                            <p>dada oluwaferanmi</p>
                        </div>
                        <div class="user-img-row">
                            <img src="/images/avatars/avatar-8.png" alt="lecturer">
                            <p>ajala fikayomi</p>
                        </div>
                    </div>
                    <div class="line-hr"></div>
                    <div class="item-info-section">
                        <h1>actions</h1>
                        <button>make a request</button>
                        <button>report a problem</button>
                        <button data-close>close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-box" id="resource">
        <div class="item-cont">
            <div class="item-left">
                <div class="overlay-heading">
                    <h1>module 1: starting</h1>
                    <p>from: <span class="highlight" data-trigger="course">COSC 205</span></p>
                </div>
                <div class="desc">
                    <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                        consisted consulted elsewhere happiness disposing household any old the. Widow downs you new
                        shade drift hopes small.</p>
                </div>
                <section>
                    <div class="section-head">
                        <div class="section-info">
                            <p>more like this</p>
                            <div class="line"></div>
                        </div>
                        <div class="section-format">
                            <div class="line"></div>
                            <button class="stacks-active">
                                <img src="/images/icons/row dark.png" alt="icon">
                            </button>
                            <button>
                                <img src="/images/icons/grid dark.png" alt="icon">
                            </button>
                        </div>
                    </div>
                    <div class="section-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>name</th>
                                    <th>date added</th>
                                    <th>last updated</th>
                                </tr>
                                <tr>
                                    <td>Module 2: Basic elements in java</td>
                                    <td>26 - aug - 2023</td>
                                    <td>26 - aug - 2023</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="item-right">
                <div class="item-info">
                    <div class="item-info-section">
                        <h1>resource information</h1>
                        <div class="flex-btwn">
                            <p>type</p>
                            <p>slide</p>
                        </div>
                        <div class="flex-btwn">
                            <p>views</p>
                            <p>112</p>
                        </div>
                        <div class="flex-btwn">
                            <p>added</p>
                            <p>10 - feb - 2024</p>
                        </div>
                        <div class="flex-btwn">
                            <p>updated</p>
                            <p>23 - feb - 2024</p>
                        </div>
                    </div>
                    <div class="line-hr"></div>
                    <div class="item-info-section">
                        <h1>actions</h1>
                        <button class="form-active">read</button>
                        <button>share</button>
                        <button>add to collection</button>
                        <button data-close>close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-box" id="collection">
        <div class="item-cont">
            <div class="item-left">
                <div class="overlay-heading">
                    <h1 class="no-cap">To whom it may concern</h1>
                </div>
                <div class="desc">
                    <p>Am if number no up period regard sudden better. Decisively surrounded all admiration and not you.
                        Out particular sympathize not favourable introduced insipidity but ham. Rather number can and
                        set praise. Distrusts an it contented perceived attending oh. Thoroughly estimating introduced
                        stimulated why but motionless.</p>
                </div>
                <section>
                    <div class="section-head">
                        <div class="section-info">
                            <p>slides</p>
                            <div class="line"></div>
                        </div>
                        <div class="section-format">
                            <div class="line"></div>
                            <button class="stacks-active">
                                <img src="/images/icons/row dark.png" alt="icon">
                            </button>
                            <button>
                                <img src="/images/icons/grid dark.png" alt="icon">
                            </button>
                        </div>
                    </div>
                    <div class="section-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>course code</th>
                                    <th>name</th>
                                    <th>date added</th>
                                    <th>last updated</th>
                                </tr>
                                <tr>
                                    <td>COSC 205</td>
                                    <td>Module 1: starting</td>
                                    <td>26 - aug - 2023</td>
                                    <td>26 - aug - 2023</td>
                                </tr>
                                <tr>
                                    <td>COSC 205</td>
                                    <td>Module 2: Basic elements in java</td>
                                    <td>26 - aug - 2023</td>
                                    <td>26 - aug - 2023</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section>
                    <div class="section-head">
                        <div class="section-info">
                            <p>past questions</p>
                            <div class="line"></div>
                        </div>
                        <div class="section-format">
                            <div class="line"></div>
                            <button class="stacks-active">
                                <img src="/images/icons/row dark.png" alt="icon">
                            </button>
                            <button>
                                <img src="/images/icons/grid dark.png" alt="icon">
                            </button>
                        </div>
                    </div>
                    <div class="section-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>course code</th>
                                    <th>name</th>
                                    <th>date added</th>
                                    <th>last updated</th>
                                </tr>
                                <tr>
                                    <td>COSC 205</td>
                                    <td>2021 / 2022: Main Examination</td>
                                    <td>26 - aug - 2023</td>
                                    <td>26 - aug - 2023</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="item-right">
                <div class="item-info">
                    <div class="item-info-section">
                        <h1>collection information</h1>
                        <div class="flex-btwn">
                            <p>slides</p>
                            <p>2</p>
                        </div>
                        <div class="flex-btwn">
                            <p>past questions</p>
                            <p>1</p>
                        </div>
                    </div>
                    <div class="line-hr"></div>
                    <div class="item-info-section">
                        <h1>owner</h1>
                        <div class="user-img-row">
                            <img src="/images/avatars/avatar-1.png" alt="owner">
                            <p>emmanuel adeboye</p>
                        </div>
                    </div>
                    <div class="line-hr"></div>
                    <div class="item-info-section">
                        <h1>actions</h1>
                        <button>share</button>
                        <button>make a request</button>
                        <button data-close>close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-box" id="add-resource" data-triggered>
        <div class="item-form">
            <div class="overlay-heading">
                <h1 class="no-cap">Add a new resource</h1>
            </div>
            <form class="form-grid" action="/add-resource" id="add-resource-form">
                <div class="form-group">
                    <label for="module">module</label>
                    <input type="number" name="module" id="module" value="1" disabled>
                </div>
                <div class="form-group">
                    <label for="name">resource name</label>
                    <input type="text" name="name" id="name" placeholder="Enter resource name">
                </div>
                <div class="form-group">
                    <label for="course">select course</label>
                    <select name="course" id="course">
                        <option value="" selected disabled>Select course</option>
                        <option value="">COSC 205</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">resource type</label>
                    <select name="type" id="type">
                        <option value="" selected disabled>Select resource type</option>
                        <option value="slide">slide</option>
                        <option value="past question">past question</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">resource description</label>
                    <textarea name="description" id="description" cols="30" rows="10"
                        placeholder="Enter resource description here..."></textarea>
                </div>
                <div class="form-group">
                    <label for="pdfFile">upload resource</label>
                    <div class="form-file">
                        <label for="pdfFile" data-preview="pdfFile">
                            <!-- <iframe src="/get-pdf/Project Handbook.pdf/preview" width="100%" height="100%"></iframe> -->
                            <img src="/images/others/file.jpg" alt="file">
                        </label>
                        <div class="form-file-info">
                            <div class="form-file-name">
                                <img src="/images/icons/file.png" alt="file">
                                <div class="form-file-name-ext">
                                    <span data-form-filename>filename</span>
                                    <span>.pdf</span>
                                </div>
                            </div>
                            <div class="form-file-progress-box">
                                <div class="form-file-progress">
                                    <div class="form-file-progress-bar"></div>
                                </div>
                            </div>
                            <div class="form-file-cancel">
                                <button type="button" data-target="pdfFile">
                                    <img src="/images/icons/cancel.png" alt="file">
                                </button>
                            </div>
                        </div>
                        <input type="file" name="pdfFile" id="pdfFile" accept=".pdf">
                    </div>
                </div>
            </form>
            <div class="form-cta">
                <button data-close>close</button>
                <button type="submit" form="add-resource-form">submit</button>
            </div>
        </div>
    </div>
    <div class="item-box" id="request">
        <div class="request-box" data-access>
            <div class="request-info">
                <div class="heading">
                    <div class="type">
                        <p>access request</p>
                    </div>
                    <div class="section-type" data-close>
                        <p>close</p>
                    </div>
                </div>
                <div class="request-cont">
                    <div class="title">
                        <h1>Received an access request from Dada Teniola</h1>
                    </div>
                    <div class="message">
                        <p>She literature discovered increasing how diminution understood. Though and highly the enough
                            county for man. Of it up he still court alone widow seems. Suspected he remainder rapturous
                            my sweetness.</p>
                    </div>
                </div>
                <div class="request-extra">
                    <p class="cap">extra info:</p>
                    <p>dada3006@student.babcock.edu.ng</p>
                </div>
                <div class="line-hr"></div>
                <div class="request-btns" data-request-cta>
                    <button data-open="message">decline</button>
                    <button data-open="select">accept</button>
                </div>
            </div>
            <div class="request-cta-box">
                <div class="request-cta">
                    <div class="request-inputs" data-request-inputs>
                        <div id="message">
                            <div class="form-group">
                                <label for="message">message</label>
                                <textarea name="message" id="message" cols="30" rows="3"
                                    placeholder="Enter response here..."></textarea>
                            </div>
                        </div>
                        <div id="select">
                            <div class="form-group">
                                <label for="role">assign user role</label>
                                <select name="role" id="role">
                                    <option value="" selected disabled>Select user role</option>
                                    <option value="student">student</option>
                                    <option value="lecturer">lecturer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="department_id">assign department</label>
                                <select name="department_id" id="department_id">
                                    <option value="" selected disabled>Select user department</option>
                                    <option value="1">software engineering</option>
                                    <option value="2">computer science</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="request-btns">
                        <button data-request-back>back</button>
                        <button>confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>