/* Styles that are common to all pages */
@import url(/fonts/Clash-Display/css/clash-display.css);

@font-face {
    font-family: 'Secondary';
    src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    /* Colors */
    --light: 255, 255, 255;
    --dark: 0, 0, 0;
    --gray: 72, 75, 74;

    --tiffany-blue: #9DD9D2;
    --dark-tiffany-blue: #42AA9E;

    --space-cadet: #392F5A;
    --light-space-cadet: #6B58A8;

    --floral-white: #FFF8F0;
    --rich-black: #00171F;
    --error: #e84855;


    /* Spacing */
    --border-padding: 8px;
    --page-padding: 40px;

    /* Fonts */
    --paragraph: 'SpaceGrotesk';
    --main: 'ClashDisplay-Regular';
    --heading: 'ClashDisplay-Semibold';
    --secondary: 'Secondary';

    --sub-text-light: rgba(var(--light), 0.5);
    --sub-text-dark: rgba(var(--dark), 0.4);

    --text-size: 20px;
}

body {
    font-family: var(--main);
    background-color: white;
}


/*
    Z-Index Heirachy
    --------------------
    .page-overlay: 100
    .preload: -1
*/


/* Common class styles */
.hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}


input {
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    padding: 20px 0 10px 0;
    border-bottom: 3px solid rgba(var(--dark), 0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: var(--text-size);
    font-family: var(--secondary);
}

input::placeholder {
    font-weight: 600;
    font-size: var(--text-size);
    font-family: var(--secondary);
    color: var(--sub-text-dark);
    text-transform: capitalize;
}

input:focus {
    border: none;
    outline: 0;
    border-bottom: 3px solid var(--dark-tiffany-blue);
}

button, a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--main);
    border-radius: 10px;
    cursor: pointer;
}

.img-fill img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* Page styles */
.preload {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    display: none;
    z-index: -1;
}

.off {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

/* Page loader */
.page-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
}

.page-overlay>* {
    pointer-events: all;
}

.loader-box {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-cont img {
    width: min(80vw, 250px);
}

.loader-cont h1 {
    font-size: min(5vw, 1em);
    text-align: center;
    text-transform: capitalize;
}




/* Spinner */
.spinner-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(var(--gray), 0.15) 0px 4px 24px;
    pointer-events: none;
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--dark-tiffany-blue) 94%, #0000) top/6px 6px no-repeat, conic-gradient(#0000 30%, var(--dark-tiffany-blue));
    mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}


/* Navbar */
.navbar-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: calc(var(--page-padding)/2) var(--page-padding);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-img {
    width: 45px;
    height: 45px;
}

.pfp {
    position: relative;
    cursor: pointer;
}

.pfp .nav-img {
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}

.pfp::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    border: 3px solid var(--tiffany-blue);
    border-radius: 100%;
    z-index: 2;
}

.pfp img {
    transition: 0.3s;
}

.pfp:hover img {
    transform: scale(1.1);
}