.sidebar {
    position: fixed;
    padding: 0 15px;
    width: var(--sidebar-width);
    height: 100dvh;
    background-color: var(--light);
    text-transform: capitalize;
    gap: 30px;

    justify-content: space-between;
}

.sidebar .top {
    overflow-y: scroll;
}

.sidebar .top::-webkit-scrollbar {
    display: none;
}

.sidebar p {
    width: 100%;
    text-overflow: ellipsis;
    font-size: 0.8em;
}

img[alt="icon"] {
    width: 20px;
    height: 20px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar .logo img {
    width: 23px;
    height: 23px;
}

.sidebar .logo h1 {
    font-size: 16px;
    font-weight: 800;
}

.sidebar .part {
    padding: 18px 0;
    border-bottom: 1px solid var(--faint-gray);
}

.sidebar .part:first-child {
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
    height: 65px;
}

.sidebar .part.flex-col {
    border: none;
    gap: var(--sidebar-gap);
}

.sidebar .cont {
    gap: var(--sidebar-gap);
}

.sidebar .friends,
.sidebar .links {
    gap: var(--sidebar-small-gap);
}

.sidebar .link {
    padding: 13px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.sidebar .link.stacks-active {
    background-color: var(--dark);
    color: var(--light);
}

.sidebar .link:not(.stacks-active):hover {
    background-color: var(--faint-white);
}

.sidebar .friend {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .friend img {
    width: var(--img-wh);
    height: var(--img-wh);
    border: 1px solid var(--dark);
    border-radius: 100%;
}

.sidebar .bottom .part {
    border: none;
    border-top: 1px solid var(--faint-gray);
}

.sidebar .acc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.sidebar-section .acc-box,
.sidebar .acc-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-section .acc-box img,
.sidebar .acc-box img {
    position: relative;
    width: var(--img-wh);
    height: var(--img-wh);
    border-radius: 100%;
    border: 1px solid var(--mandy);
}

.sidebar-section .acc-box .text,
.sidebar .acc-box .text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sidebar-section .acc-box .text p,
.sidebar .acc-box .text p {
    font-size: 0.75em;
    font-weight: 800;
    text-transform: capitalize;
}

.sidebar-section .acc-box .text span,
.sidebar .acc-box .text span {
    font-size: 9px;
    text-transform: none;
}

[data-role-student] {
    --color: green !important;
}

[data-role-lecturer] {
    --color: var(--mandy) !important;
}

[data-role-admin] {
    --color: rgb(var(--notice)) !important;
}

.sidebar span.role {
    --color: black;

    display: inline-flex;
    padding: 4px 7px;
    border: 1px solid var(--color);
    text-transform: capitalize;
    color: var(--color);
    border-radius: 10px;
    font-size: 0.6em;
}

.sidebar .acc .cta {
    width: 20px !important;
    height: 20px !important;
}

.sidebar .acc .cta img {
    width: 15px;
    height: 15px;
    opacity: 0.8;
}

.toggle-sidebar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%);
    padding: 5px;
    width: var(--content-padding);
    border-radius: 5px;
    background-color: transparent;

    display: none;
    align-items: center;
    justify-content: center;
}

.toggle-sidebar-icon {
    width: 3px;
    height: 25px;
    background-color: black;
    border-radius: 3px;
}

@media (max-width: 1100px) {
    :root {
        --sidebar-width: 70px;
    }

    .sidebar h1,
    .sidebar span,
    .sidebar p:not(.sub),
    .sidebar .cta {
        display: none;
    }

    .sidebar {
        transform: none;
        padding: 0 10px;
    }

    .sidebar .part:first-child {
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .sidebar span.role {
        padding: 3px 5px;
        font-size: 0.5em;
    }

    .sidebar p.sub {
        text-align: center;
    }

    .sidebar .link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar .friend,
    .sidebar .acc-box {
        width: 100%;
        gap: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    :root {
        --sidebar-width: 240px;
    }

    .sidebar h1,
    .sidebar span,
    .sidebar p:not(.sub),
    .sidebar .cta {
        display: initial;
    }

    .sidebar {
        transform: translateX(-100%);
        z-index: 100;
    }

    .sidebar .part:first-child {
        justify-content: initial;
        flex-direction: row;
        gap: 10px;
    }

    .sidebar span.role {
        padding: 4px 7px;
        font-size: 0.6em;
    }

    .sidebar p.sub {
        text-align: start;
    }

    .sidebar .link {
        justify-content: start;
    }

    .sidebar .friend,
    .sidebar .acc-box {
        width: 100%;
        gap: 8px;
        justify-content: initial;
    }

    .toggle-sidebar {
        display: flex;
    }
}