body {
    background-color: white;
}

main {
    width: 100%;
    height: max(100dvh, 650px);
    display: flex;
}

main>* {
    width: 50%;
    height: 100%;
}

.form-box {
    padding: 0 20px;
    display: flex;
    justify-content: center;
}


.form-cont {
    padding: 30px 0;
    height: 100%;

    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 25px;
    height: 25px;
}

.logo h1 {
    font-size: 20px;
    font-weight: 800;
}


.form {
    padding: 0 5px;
    min-width: min(100%, 450px);
    max-height: 80%;
    gap: 40px;
    overflow-x: visible;
    overflow-y: scroll;
}

.form::-webkit-scrollbar {
    display: none;
}

.form-head {
    padding: 0 20px;
    gap: 10px;
}

.form-head h1 {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}

.form-head p {
    text-align: center;
    font-size: var(--text);
}

.form-slider-box {
    padding: 15px;
}

.form-slider {
    border-radius: 15px;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form-slider>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.form-cta p {
    font-weight: 700;
    font-size: var(--small-text);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.form-cta span {
    color: var(--mandy);
}


@media (max-width: 1200px) {
    .form-head h1 {
        font-size: 35px;
    }

    .form {
        gap: 30px;
    }

    .form-slider-box {
        padding: 0;
    }

    .form-slider {
        border-radius: 0;
    }
}

@media (max-width: 900px) {
    main>* {
        width: 100%;
    }

    .form-slider-box {
        display: none;
    }

    .form-head {
        padding: 0 5px;
    }

    .form-box {
        padding: 0 10px;
    }
}

@media (max-width: 425px) {
    .form-head h1 {
        font-size: 9vw;
    }

    .form-head p {
        font-size: 3.3vw;
    }

    .form-row {
        flex-direction: column;
    }
}