<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Page Not Found</title>

    <%- include('partials/head') %>
</head>
<body>
    <main class="page-not-found">
        <img src="/images/others/404.jpg" alt="404">
        <div class="cta">
            <a href="/">back to home</a>
        </div>
    </main>
</body>
</html>